@media only screen and (max-width: 1200px){
    li.list-group-item {
        font-size: 14px;
    }
    .carousel-item {
        height: 57vh;
    }
}
@media only screen and (max-width: 1000px){
    #myElement, #projects, #portfolio {
        font-size: 45px;
    }
    h5.card-title {
        font-size: 15px;
    }
    h6.card-title {
        font-size: 13px;
    }
    li.list-group-item {
        font-size: 11px;
    }
    .icons {
        font-size: 15px;
    }
    .carousel-item{
        height: 55vh;
    }
}
@media only screen and (max-width: 770px){
    #myElement, #projects, #portfolio {
        font-size: 35px;
    }
    h5.card-title {
        font-size: 15px;
    }
    li.list-group-item {
        font-size: 11px;
    }
    .icons {
        font-size: 15px;
    }
    .carousel-item {
        height: 52vh;
    }
    h3.display-4, p.lead {
        font-size: 10px;
    }
    /* carousel breaks */
    .list {
        font-size: 25px;
    }
    ul {
        padding-left: 0px;
    }
    .homeCard {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 570px){    
    .list {
        font-size: 25px;
    }
    .homeCard {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}